* {
  padding: 0px;
  margin: 0px;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h5 {
  font-size: 1.6rem;
}
.wrapper {
  width: 360px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #000000;
  padding: 2px 26px;
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.input {
  width: 100%;
  margin-bottom: 14px;
}
input {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #000000;
}
.email_error {
  color: red;
  display: none;
}
.password_error {
  color: red;
  display: none;
}
.good_to_go {
  display: none;
  color: rgb(19, 154, 48);
  margin-bottom: 6px;
}
button {
  width: 128px;
  height: 27px;
  padding: 6px 16px;
  border-radius: 6px;
  border: 1px solid #000000;
}
.btn {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 12px;
  gap: 5;
}
